:root {
  --font0: 'Archivo', sans-serif;
  --font1: 'Poppins', sans-serif;
  --font2: 'Source Sans 3', sans-serif;

  --color0: #F4DAC7;
  --color1: #ff6b00;
  --color2: #FF9170;
  --color3: #FFE3BA;
  --color4: #650000;
  --color5: #FFCE6C;
  --color6: #FFEEDC;
  --color7: #BA6565;
  --color8: #FFA64B;
  --color9: #FFCF9E;
  --color10: #E27200;
  --color11: #D65C5C;
}

/*MENU HAMBURGUER*/
@media screen and (max-width:768px) {
  .nav-bar{
    padding: .3rem;
  }

  .nav-item{
      display: none;
  }

  .logo a{
    font-size: 1em;
  }

  .burguer{
    padding: 0;
    display: block; 
  }

  .burguer button{
      background-color: transparent;
      border: none;
      cursor: pointer;
  }

  .burguer button:active{
    transform: translateY(1px);
  }

  .mobile-menu ul{
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-bottom: 1rem;
  }

  .mobile-menu .nav-item{
      display: block;
      padding-top: 1.2rem;
  }

  .open{
    display: block;
  }
}

/*CELULAR*/
@media screen and (max-width: 768px) {

  body{
    background-color: #fdfdfde9;
    min-height: 100vh;
}

  /*Section One*/
  #secOne{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 85vh;
  }

  #joy1{
    margin: auto;
    width: 85vw;
  }

  .caixa-info{
    top: -1rem;
    right: auto;
    padding: 0;
    width: 13rem;
    height: 9rem;
  }

  .caixa-info h1 {
    font-size: .98rem;
    margin: 1rem 0;
  }

  .caixa-info h2{
    font-size: .80rem;
    margin: 1rem 0;
  }

  .caixa-info .btnSaibaMais{
    width: 5.2rem;
    height: 1.5rem;
    font-size: 0.70rem;
    margin: 0;
  }

  /*Section Two*/
#secTwo{
  margin: 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}
.sobre-container{
  margin: 0;
  margin-bottom: 5%;
  width: 20rem;
}

.sobre-container p{
  font-size: .769rem;
  font-weight: normal;
}

.sobre-img{
  margin: 1rem 0;
  padding: 2rem;
}

/*Section Three*/
#secThree{
  display: flex;
  flex-direction: column;
}

.texto-coded{
  margin: 0;
  width: 18rem;
  height: 27rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0.01rem;
}

.texto-coded p{
  width: 16rem;
  font-size: .88rem;
}

#coded{
  margin: 0;
  margin-top: 1rem;
  display: flex;
}

/*Section Four*/
#org-img{
  margin-top: 50%;
}

.ajl{
  width: 16rem;
  height: 40vh;
  font-size: .88rem;
  font-weight: normal;
  flex-grow: 2;
}

/*Container dos vídeos*/
#container-slider{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.player, .slider, .slider.show{
  width: 18.3rem;
  height: fit-content;
}

#prev-btn, #next-btn{
  margin: 0;
  padding: 0;
}

  /*Rodapé*/
  footer > p{
    font-size: .8rem;
    margin-right: 5%;
  }
  
  .icon-footer{
    margin-right: 1.2%;
  }

}

/*TABLET*/
@media screen and (min-width: 768px) and (max-width: 1120px) {
  /*Section One*/
  #joy1{
    width: 63vw;
  }  

  .caixa-info{
    padding: 1.06rem 1.44rem;
    right: 4.56rem;
    width: fit-content;
    height: fit-content;
  }

  .caixa-info h1 {
    font-size: 1.6rem;
  }

  .caixa-info h2{
    font-size: 1rem;
  }

  /*Section Two*/
  #joy2{
    width: 35vw;
  }

  .sobre-container{
    margin: 0 3%;
    height: auto;
  }

  .sobre-container p{
    font-size: 100%;
  }

  /*Section Three*/
  .texto-coded{
    margin: 0;
  }

  .texto-coded p{
    width: 25rem;
    font-size: 1rem;
  }
  
  #coded{
    width: 42vw;
  }
}

