/*MENU HAMBURGUER*/
@media screen and (max-width: 764px) {
  .nav-bar{ padding: .3rem; max-height: 3.2rem;}

  .nav-item{ display: none; }

  .burguer{
    padding: 0;
    display: block;
  }

  .burguer button{
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .burguer button:active{ transform: translateY(1px);}

  .mobile-menu ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
  }

  .mobile-menu .nav-item{
    display: block;
    padding-top: 1.2rem;
  }

  .open{ display: block; }
}

/*CELULARES*/
@media screen and (max-width: 764px) {
  /*Header*/
  .logo a{ font-size: .7em;}

  .nav-link{ font-size: .9em;}

  #mode-icon{ width: 14px;}

  /*Section One*/
  #secOne{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 85vh;
  }

  #joy1{ margin: auto; width: 85vw; }

  .caixa-info{
    top: -1rem;
    right: auto;
    padding: 0;
    width: 13rem;
    height: 9rem;
  }

  .caixa-info h1 { font-size: .98rem; margin: 1rem 0; }

  .caixa-info h2{ font-size: .65rem; margin: 1rem 0; }

  .caixa-info .btnSaibaMais{
    width: 5.2rem;
    height: 1.5rem;
    font-size: 0.70rem;
    margin: 0;
  }

/*Section Two*/
#secTwo{
  margin: 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}
.sobre-container{
  margin: 0;
  margin-bottom: 5%;
  width: 20rem;
}

.sobre-container p{
  font-size: .8rem;
  font-weight: normal;
  max-width: 17rem;
  margin: auto;
  letter-spacing: 0.01rem;
  line-height: 1.4;
}

.sobre-img{ margin: 1rem 0; padding: 2rem; }

/*Section Three*/
#secThree{ display: flex; flex-direction: column;}

.texto-coded{
  margin: 0;
  width: 18rem;
  height: 27rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0.01rem;
}

.texto-coded p{ width: 16rem; font-size: .88rem;}

#coded{
  margin: 0;
  margin-top: 1rem;
  display: flex;
}

/*Section Four*/
#org-img{ margin-top: 50%;}

.ajl{
  width: 16rem;
  height: 40vh;
  font-size: .87rem;
  font-weight: normal;
  flex-grow: 2;
}

/*Container dos vídeos*/
#container-slider{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.player, .slider, .slider.show{ width: 15rem; height: fit-content; }

#prev-btn, #next-btn{ margin: 0; padding: 0;}

  /*Rodapé*/
  footer > p{ font-size: .7rem; margin-right: 5%;}
  
  .icon-footer{ height: 5%; margin-right: 1.2%; }

}

/*TABLET*/
@media screen and (min-width: 765px) and (max-width: 1120px) {
  /*Section One*/
  #joy1{ width: 63vw; }  

  .caixa-info{
    padding: 1.06rem 1.44rem;
    right: 4.56rem;
    width: fit-content;
    height: fit-content;
  }

  .caixa-info h1 { font-size: 1.6rem; }

  .caixa-info h2{ font-size: 1rem; }

  /*Section Two*/
  #joy2{ width: 35vw; }

  .sobre-container{
    margin: 0 3%; 
    height: auto; 
    width: 45vw; 
  }

  .sobre-container p{ font-size: 100%; width: auto;}

  /*Section Three*/
  .texto-coded{ margin: 0; }

  .texto-coded p{ width: 25rem; font-size: 1rem; }
  
  #coded{ width: 42vw; }
}

